[submodule "async_fifo"]
	path = async_fifo
	url = https://github.com/isomoye-msu/async_fifo.git
[submodule "src/async_fifo"]
	path = src/async_fifo
	url = https://github.com/isomoye-msu/async_fifo.git
[submodule "tb/gtxe2_gpl"]
	path = tb/gtxe2_gpl
	url = https://github.com/Elphel/gtxe2_gpl.git
[submodule "src/verilog-pcie"]
	path = src/verilog-pcie
	url = https://github.com/isomoye-msu/verilog-pcie.git
[submodule "src/verilog-axis"]
	path = src/verilog-axis
	url = https://github.com/isomoye-msu/verilog-axis.git

[submodule "example/surf"]
	path = example/surf
	url = https://github.com/slaclab/surf.git
